.env
__pycache__
.DS_Store
.vscode
chain_json/*.json
retrieval_datasets/*.txt
project_folder/chain_json/宋楚瑜_2023-10-12.json
project_folder/chain_json/宋楚瑜_2023-10-16.json
project_folder/chain_json/宋楚瑜_2023-10-17.json
project_folder/chain_json/柯文哲_2023-10-03.json
project_folder/chain_json/柯文哲_2023-10-16.json
project_folder/chain_json/柯文哲_2023-10-17.json
project_folder/chain_json/流口香_2023-10-16.json
project_folder/chain_json/流口香_2023-10-17.json
project_folder/chain_json/蔡英文_2023-10-12.json
project_folder/chain_json/蔡英文_2023-10-16.json
project_folder/chain_json/蔡英文_2023-10-17.json
project_folder/chain_json/韓國瑜_2023-10-12.json
project_folder/chain_json/韓國瑜_2023-10-16.json
project_folder/chain_json/韓國瑜_2023-10-17.json
